* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body span {
  color: white;
}
.main {
  width: 90%;
  text-align: center;
  margin: auto auto;
  height: 100vh;
  padding: 2rem;
  background-color: rgb(67, 67, 67);
}
.main ol {
  margin: 0;
  padding: 0;
}
.main a {
  text-decoration: none;
}
.nav-div {
  border-radius: 8px;
  padding: 10px;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
}
.progressBarEmpty {
  background-color: #fff;
  width: 100%;
  margin: 0 auto 40px;
  border-radius: 8px;
  height: 10px;
}
.progressBarFilled {
  background-color: #dc3545;
  border-radius: 8px;
  height: 10px;
}
.before-link {
  color: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  color: #dc3545;
}

.justify-align-text {
  text-align: justify;
  margin: 0;
  margin-bottom: 2rem;
  color: white;
}
.left-align-text {
  text-align: left;
  margin: 0;
  margin-bottom: 2rem;
}

.specify-other {
  width: 35%;
  margin: 0;
  margin-bottom: 2rem;
}

.back-next-btns {
  display: flex;
  justify-content: space-between;
}
.lng-btn,
.back-btn,
.next-btn {
  margin: 0;
  margin-top: 2rem;
  width: 200px;
}
