* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body span {
  color: black;
  /* background-image: url("https://images.hdqwalls.com/wallpapers/progamming-code-4k-nt.jpg"); */
}
.main {
  width: 90%;
  text-align: center;
  margin: 1rem auto 0;
  height: 100%;

  /* background-color: rgb(233, 233, 233); */
}
.main ol {
  margin: 0;
  padding: 0;
}
.main a {
  text-decoration: none;
}
/* .nav-div {
  border-radius: 8px;
  padding: 10px;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
} */
.progressBarEmpty {
  width: 100%;
  margin: 0 auto 40px;
  border-radius: 8px;
  height: 10px;
  background-color: lightgray;
}
.progressBarFilled {
  background-color: #dc3545;
  border-radius: 8px;
  height: 10px;
}
.before-link {
  color: #000;
  margin: 0;
  padding: 0;
}

h1 {
  color: #dc3545;
}

.justify-align-text {
  text-align: justify;
  margin: 0;
  margin-bottom: 2rem;
  /* color: white; */
}
.left-align-text {
  text-align: left;
  margin: 0;
  margin-bottom: 2rem;
}

.specify-other {
  width: 35%;
  margin: 0;
  margin-bottom: 2rem;
}

.back-next-btns {
  display: flex;
  justify-content: space-between;
}
.lng-btn,
.back-btn,
.next-btn {
  margin: 0;
  margin-top: 2rem;
  width: 200px;
}

.sticky-sub-div {
  background-color: white;
  position: sticky;
  top: 0;
  left: 5%;
  z-index: 100;
  width: 90%;
  height: 120px;
  margin: 0 auto;
  padding: 1rem 0;
}
