/* responsive for mobile phone: width smaller than 480px */
@media (max-width: 480px) {
  * {
    font-size: 12px;
  }
  .nav-bar {
    width: 90%;
  }
  .main {
    width: 90%;
    text-align: center;
    padding: 1rem 2rem;
    height: 100vh;
  }
  .main h1 {
    text-align: center;
    margin: 0;
  }
  .main h2 {
    font-size: 1.1rem;
  }
  .main p {
    font-size: 14px;
    margin: 0;
  }
  .lng-btn {
    width: 100%;
    height: 50px;
    margin: 0 auto 2rem;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    background-color: #db536a;
  }
  .lng-menu {
    width: 100%;
    margin: auto auto;
    vertical-align: middle;
  }
  .lng-div {
    text-align: center;
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }
  .lng-div p {
    text-align: center;
    padding: 0;
    margin: auto auto;
  }
  .credentials-form {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .credentials-input {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    height: 50px;
    width: 100%;
  }
  .back-btn,
  .next-btn {
    height: 50px;
    font-size: 16px;
    width: 140px;
  }
  .next-btn {
    background-color: #db536a;
  }
  .bak-btn {
    background-color: #7d7d7d;
  }
  .question {
    font-size: 14px;
    text-align: left;
    margin: 0.5rem 0 1rem;
  }
  .input-text {
    height: 40px;
  }
  .dontknow-btn {
    width: 100%;
    height: 40px;
    font-size: 16px;
  }
  .s-q13 {
    margin: 1rem 0 2rem;
  }
  .dropdown-btn {
    margin: 1rem 0 2rem;
  }
  .input-text {
    height: 40px;
  }
  .none-btn {
    height: 60px;
    font-size: 16px;
    width: 140px;
  }
  .dontknow-btn {
    width: 140px;
  }
  .m-input-22 {
    height: 40px;
    margin-bottom: 1rem;
  }
  .m-dontknow-22 {
    height: 40px;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}
