/* responsive for mobile phone: width smaller than 480px */
@media (max-width: 480px) {
  body {
    background: #db536a;
  }
  .nav-bar {
    width: 100%;
    height: 70px;
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 1rem;
    font-size: 12px;
  }
  .logo {
    width: 70px;
  }
  .main {
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
    height: 100%;
    min-height: 100vh;
  }
  .main h1 {
    text-align: center;
    margin: 0;
  }

  .lng-btn {
    width: 100%;
    height: 50px;
    margin: 0 auto 2rem;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    background-color: #db536a;
  }
  .lng-menu {
    width: 100%;
    margin: auto auto;
    vertical-align: middle;
  }
  .lng-div {
    text-align: center;
    margin: 0;
    padding: 1rem;
    vertical-align: middle;
    font-size: 18px;
  }
  .lng-div p {
    text-align: center;
    padding: 0;
    margin: auto auto;
  }
  .credentials-form {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .credentials-input {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    height: 50px;
    width: 100%;
  }
  .back-btn,
  .next-btn,
  .finish-btn {
    height: 50px;
    font-size: 18px;
    width: 140px;
  }

  .question {
    font-size: 16px;
    text-align: left;
    margin: 0.8rem 0 1rem;
  }
  .input-text {
    height: 40px;
  }
  .dontknow-btn,
  .none-btn {
    width: 140px;
    height: 60px;
    font-size: 16px;
  }
  .s-q13 {
    margin: 1rem 0 2rem;
  }
  .dropdown-btn {
    margin: 1rem 0 2rem;
  }
  .input-text {
    height: 40px;
  }
  .dontknow-btn {
    width: 140px;
  }
  .m-input-22 {
    height: 40px;
    margin-bottom: 1rem;
  }
  .m-dontknow-22 {
    height: 40px;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .sticky-sub-div {
    margin-top: 0;
    top: 70px;
  }
  .percent {
    font-size: 22px;
  }
  .m-label {
    font-size: 14px;
  }
}
